@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.font-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center outline-none;
}

/* END: General styles */

/* START: Navbar styles */
.navbar {
  @apply max-w-[1440px] mx-auto flex justify-between items-center sm:px-16 px-6 py-4;
}

/* END: Navbar styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] h-[825px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[76px] sm:text-[64px] text-[50px] leading-[84px] tracking-tight font-bebas;
}

.hero__subtitle {
  @apply text-base text-black-100 font-normal mt-8 font-roboto-condensed max-w-72;
}

.hero__images-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full relative;
}

.hero__image {
  @apply absolute xl:w-[1064px] lg:w-[850px] md:w-[700px] sm:w-[532px] z-0 xl:top-80 lg:-top-[500px] md:-top-[350px] sm:-top-80 xs:-top-72 right-14;
}

.hero__subtract {
  @apply absolute xl:w-[1064px] xl:h-[650px] lg:w-[750px] lg:h-[500px] md:w-[700px] md:h-[430px] sm:w-[532px] sm:h-[300px] z-0 xl:-top-16 lg:-top-[860px] md:-top-[590px] sm:-top-[550px] xl:-right-16 lg:-right-10 md:-right-11 sm:-right-11;
}

.hero__image-overlay {
  @apply xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}
/* END: Hero styles */

/* START: Home styles */
.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2 text-black-100;
}

.home__links {
  @apply hover:text-primary-blue hover:underline hover:font-semibold;
}

/* END: Home styles */

/* START: Carousel styles */
.carousel__image-container {
  @apply min-w-0 flex-[0_0_auto] w-1/2 px-2;
}

.carousel__dot {
  @apply w-1.5 h-1.5 md:w-2 md:h-2 rounded-full;
}

.carousel__dots-container {
  @apply flex absolute bottom-4 left-1/2 transform -translate-x-1/2 space-x-2;
}

/* END: Carousel styles */

/* START: SEO styles */

.seo__section {
  @apply flex flex-col bg-black-100 items-center;
}

.seo__section-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 mt-[88px] max-w-[1440px];
}

.seo__title {
  @apply text-white text-[25px] leading-[37.5px] font-bebas uppercase tracking-[-.03em];
}

.seo__text {
  @apply text-white font-roboto-condensed text-sm;
}

.seo__expand-button {
  @apply flex justify-center gap-[6px] items-start border-b-2 border-white;
}

/* END: SEO styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col bg-black-100 items-center w-full;
}

.footer__border {
  @apply w-full border-t border-gray-100 mt-[88px];
}

.footer__links {
  @apply w-full max-w-[1440px] flex justify-between items-center sm:px-20 px-6 py-6;
}

.footer__link {
  @apply text-white text-base font-roboto-condensed;
}

/* END: Footer styles */
